[submodule "PatientAPI"]
	path = PatientAPI
	url = https://github.com/TimKuijpers2002/PatientAPI.git
[submodule "ReportAPI"]
	path = ReportAPI
	url = https://github.com/TimKuijpers2002/ReportAPI.git
[submodule "ReportQueryAPI"]
	path = ReportQueryAPI
	url = https://github.com/TimKuijpers2002/ReportQueryAPI.git
[submodule "ReportCommandAPI"]
	path = ReportCommandAPI
	url = https://github.com/TimKuijpers2002/ReportCommandAPI.git
